body
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Arial;
}

h1
{
	color: #284275;
}

table
{
	display: table;
	margin: 0 auto;
}

img
{
	border: 1px solid black;
	max-width: 860px;
}

.photo
{
	font-size: 10px;
}

#main-info
{
	float: left;
	width: 627px;
}

#aside-info
{
	float: left;
	width: 200px;
	vertical-align: top;
	padding-left: 10px;
}
	
#main-content
{
	height: 368px;
	padding: 10px;
	margin: 10px;
}

#navigation
{
	border: 1px solid #000000;	
	padding: 10px;
	width: 840px;
	margin: 0 auto;
	font-size: 14px;
}

.navlinks
{
	font-size: 10px;

}

#sub-navigation
{
	border: 1px solid #000000;	
	padding: 10px;
	width: 840px;
	margin: 0 auto;
	height: 14px;
	font-size: 14px;
}

#aside-title-audio
{
	background: #284275;
	width: 233px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#content-frame
{
	border: none;
	background-color: white;
}
	
#transcript
{
	color: #26282B;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

audio
{
	width: 230px;
}

#quiz-link
{
display: none;
}