body
{
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: Arial;
	color: #522900;
}

/*
#intro
{
	background-image: url("../purpleflower_big.jpg");
	background-repeat: no-repeat;
}
*/

#b-animation
{
	width: 100px;
    height: 100px;
    position: relative;
    left: 40px;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
    animation-name: example;
    animation-timing-function:ease-in-out;
    animation-duration: 10s;
    animation-delay: 1s;
    z-index: 10;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    25%  {transform: rotate(90deg); left:400px; top:0px;}
    50%  {transform: rotate(30deg); left:400px; top:200px;}
    75%  {transform: rotate(270deg); left:0px; top:200px;}
    100% {transform: rotate(90deg); left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {transform: rotate(90deg); left:400px; top:0px;}
    50%  {transform: rotate(30deg); left:400px; top:200px;}
    75%  {transform: rotate(270deg); left:0px; top:200px;}
    100% {transform: rotate(90deg); left:0px; top:0px;}
}

#grad
{
	position: fixed;
    height: 675px;
    width: 900px;
    background: -webkit-linear-gradient(#fdf6c1, #ffffff,  #ffffff, #fdf6c1); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#fdf6c1, #ffffff,  #ffffff, #fdf6c1); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#fdf6c1, #ffffff,  #ffffff, #fdf6c1); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#fdf6c1, #ffffff,  #ffffff, #fdf6c1); /* Standard syntax (must be last) */
   	z-index: -1;
}

#main-content
{
	position: relative;
	height: 550px;
	width: 890px;
	padding: 0;
	z-index: 1;
}

#objective
{
	position: absolute;	
	top: 0px;
	left: 170px;
	width: 420px;
	height: 50px;
	padding: 10px;
	font-size: 14px;
	z-index:3;
}

#main-info
{
	position: absolute;
	border: 1px solid black;
	top: 80px;
	left: 170px;
	width: 420px;
	height: 322px;
	padding: 10px;
	font-size: 20px;
	vertical-align:10px;
	overflow: auto;
	z-index:3;
}

.right
{
    float: right;
}

.img-strip
{
    float: left;
    width: 100%;
    padding: 0;
    margin :0;
    list-style-type: none;
}

.img-strip > li
{
	display: inline;
	padding: 0;
	margin: 0;
}

.subnav
{
    float: left;
    width: 10em;
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 0.2em 2em;
}

.subnav > a:hover {background-color: #ff3300;}

.ref
{
	font-size: 14px;
}

#aside-info
{
	position: absolute;
	top: 0px;
	left: 630px;
	width: 242px;
}

.aside-title-audio
{
	/*background: #88c003;*/
	background-color: #5c8533;
	width: 242px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#transcript
{
	color: black;
	padding: 10px;
	font-size: 14px;
	overflow: auto;
	height: 250px;
	width: 230px;
}

#audio
{
	padding: 5px;
}

#footer
{
	position: fixed;
	color: #663300;
	top: 640px;
	left: 730px;
	z-index: 10;
}

#banner
{
	margin: 0;
	padding: 0;
}

#navigation
{
	position: relative;
	width: 130px;
	float: left;
	padding: 0px;
	margin-left:15px;
	z-index: 100;
}

nav > p
{
	padding: 8px;
	border: 1px solid #fbe864;
	/*background-color: #663300;*/
	background-color: #5c8533;
	box-shadow: 0px 0px 5px #ffffff;
}

.navlinks
{
	color: white;
	font-weight: bold;
	/*text-decoration: none;*/
}


#quiz-link-box
{
	display:none
}

#quiz-link
{
	display:none
}

.check
{
	color:red;
	display: none;
}

#sub-navigation
{
	background-color: #dfd994;	
	position:absolute;
    bottom:20px;
    height: 80px;
    width: 890px;
    padding: 4px;
    text-align: center;
    box-shadow: 0px 0px 5px #666666;
    z-index: 4;
}

/*
a:link {
    color: white;
    font-weight: bold; 
}

a:hover {
    background-color: yellow;
} 

a.current {
  background:red;
  color:white;
}
*/

#content-frame
{
	border: none;	
}
