body
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Arial;
	background: linear-gradient(to right, #ecffce 67%, #ffffff 33%);
	
	

}

#main-content
{
	position: relative;
	height: 570px;
	width: 890px;
	padding: 0;
	z-index: 1;
	
}

#main-info
{
	position: absolute;
	left: 140px;
	width: 600px;
	font-size: 16px;
	z-index:2;
	
}

#welcome
{
	position: absolute;
	top: 80px;
	left: 50px;
	width: 400px;
	font-size: 24px;
	z-index:3;
}

#aside-info
{
	position: absolute;
	right: 0px;
	width: 250px;
	vertical-align: top;
}

#footer
{
	position: fixed;
	color: white;	
	top: 640px;
	left: 730px;
}

#banner
{
	margin: 0;
	padding: 0;
}

#navigation
{
	padding-left: 10px;
	width: 100px;
	float: left;
	height: 450px;
	font-size: 14px;
	margin-left:15px;
	position: absolute;
	z-index: 5;
}



#sub-navigation
{
	background: #88c003;	
	font-size: 14px;
	position:absolute;
    bottom:64px;
    width: 600px;
    padding: 4px;
    text-align: center;
    z-index: 4;
}


a:link {
    color: white;
    font-weight: bold; 
}

.aside-title-audio
{
	background: #88c003;
	width: 250px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

a:hover {
    background-color: yellow;
} 

a.current {
  background:red;
  color:white;
}

#content-frame
{
	border: none;
		
}
	
#transcript
{
	color: black;
	padding: 5px;
	font-size: 14px;
	overflow: auto;
	height: 400px;
	width: 250px;
}

#audio
{
	background-color: #88c003;
}